# Gradle

.gradle
**/build
**/.project
**/.settings
**/derby.log

# IntelliJ
.idea/*
sketchy-polytopes.iml
*/*/out/production/*
*/*/out/test/*

# R

.Rproj.user
.Rhistory
.RData
.Ruserdata

./R/*/.Rproj.user
./R/*/.Rhistory
./R/*/.RData
./R/*/.Ruserdata

# OSX

.DS_Store
./*/.DS_Store

# other

*/*/metastore_db/*
