# Gradle

.gradle
**/build
**/.project
**/.settings
**/derby.log

# R

.Rproj.user
.Rhistory
.RData
.Ruserdata

./R/*/.Rproj.user
./R/*/.Rhistory
./R/*/.RData
./R/*/.Ruserdata

# OSX

.DS_Store
./*/.DS_Store
